@import "tailwindcss";

@theme {
  --font-serif-custom: 'Georgia', serif;
}

body {
  background-color: #F9F8F6;
  color: #1A1A1A;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  overscroll-behavior-y: none;
  touch-action: pan-x pan-y;
}

html, body {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  height: 100dvh;
}
